<h1 class="text-center">Play Rock Paper Scissors</h1>
<div class="row">
  <div class="col-sm-6 text-center">
    <a href="/computer" class="btn btn-primary homePageBtns">One Player</a>
  </div>
  <div class="col-sm-6 text-center">
    <a href="/playGame" class="btn btn-primary homePageBtns">Two Player</a>
  </div>
</div>
